@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
	  <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="/">Hashtag!</a>
                    <ul class="nav">
                        <li >
                            <a href="#">Novo jogo</a>
                        </li>
                        <li >
                            <a href="#">Sobre o sistema</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="content">
                
                <div class="page-header">
                    <h1>Metas Semanais.</h1>
                </div>

                <div class="row">
                    <div class="span14">
                        @content
                    </div>
                </div>
                
            </div>

            <footer>
                <p>
                    Desenvolvido no lcc2
                </p>
            </footer>
        </div>
    </body>
</html>
