@(metas: List[Meta], metaForm: Form[Meta])

<html lang=" ">
	<head>
		<title>Sistema de Metas</title>
		<meta charset="UTF-8">
		<meta name=description content="Sistema simples de controle de metas">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="style.css"/>
	</head>
	
	<body>
	<div class="div1">
	<div class="col-sm-4">
		<center>
		<h2>Adicionar uma Meta</h2>
		<form action="@routes.Application.novaMeta()" method="post">
			<label for="meta">META </label>
			<input type="text" name="meta" id="inputMeta" class="form-control"required="required">
			<label for="meta">DESCRIÇÃO </label>
			<input type="text" name="descricao" id="inputDescricao" class="form-control"required="required">
			<input type="submit" class="btn btn-primary" value="Adicionar">
		</form>
		</center>
	</div>
	</div>
	
	<br>
	<div class="content">
		<div class="col-sm-5">
			<h2 class="text-center">@metas.size() meta(s)</h2>
				<div class="table-responsive">
					<thead>
						<tr>
							<th>Meta</th>
							<th>Descrição</th>
							<th>Prioridade</th>
						</tr>
					</thead>
					<tbody>
						@for(meta <- metas) {
							<tr>
								<td>@meta.getMeta()</td>
								<td>@meta.getDescricao()</td>
								<td>
									<form action="@routes.Application.apagaMeta(meta.getId())" method="post">
										<input type="submit" class="btn btn-danger" value="Apaga">
									</form>
								</td>
							</tr>
						}
					</tbody>
				</div>
		</div>
	</div>
	</body>
</html>
